In [1101]:
import numpy as np
import pandas as pd 
import datetime as dt
import copy

In [1102]:
data=pd.read_csv("./Loan payments data.csv")

In [1103]:
data.head(5)

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender
0,xqd20166231,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/14/2016 19:31,-23.0,45,High School or Below,male
1,xqd20168902,PAIDOFF,1000,30,9/8/2016,10/7/2016,10/7/2016 9:00,0.0,50,Bechalor,female
2,xqd20160003,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/25/2016 16:58,-12.0,33,Bechalor,female
3,xqd20160004,PAIDOFF,1000,15,9/8/2016,9/22/2016,9/22/2016 20:00,0.0,27,college,male
4,xqd20160005,PAIDOFF,1000,30,9/9/2016,10/8/2016,9/23/2016 21:36,-15.0,28,college,female

In [1104]:
data['Principal'].unique()

array([1000,  300,  800,  900,  700,  500], dtype=int64)

In [1105]:
data['loan_status'].unique()

array(['PAIDOFF', 'COLLECTION', 'COLLECTION_PAIDOFF'], dtype=object)

In [1106]:
data['education'].unique()

array(['High School or Below', 'Bechalor', 'college', 'Master or Above'],
      dtype=object)

In [1107]:
data_original=data.copy()

In [1108]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
data['loan_status']=le.fit_transform(data['loan_status'])
data['Gender']=le.fit_transform(data['Gender'])
data['education']=le.fit_transform(data['education'])
data['due_date'] = pd.to_datetime((data['due_date']),format="%m/%d/%Y")
data['effective_date'] = pd.to_datetime((data['effective_date']),format="%m/%d/%Y")
data['paid_off_time'] = pd.to_datetime((data['paid_off_time']),format="%m/%d/%Y %H:%M")
#if statement here
#data[data['loan_status'] == 2]['past_due_days'] = (data[data['loan_status'] == 2]['paid_off_time'].sub(data[data['loan_status'] == 2]['due_date'], axis=0)).dt.days
#print(data['loan_status'])
#print(data['past_due_days'][0])

In [1109]:
data.head(400)

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender
0,xqd20166231,2,1000,30,2016-09-08,2016-10-07,2016-09-14 19:31:00,-23.0,45,1,1
1,xqd20168902,2,1000,30,2016-09-08,2016-10-07,2016-10-07 09:00:00,0.0,50,0,0
2,xqd20160003,2,1000,30,2016-09-08,2016-10-07,2016-09-25 16:58:00,-12.0,33,0,0
3,xqd20160004,2,1000,15,2016-09-08,2016-09-22,2016-09-22 20:00:00,0.0,27,3,1
4,xqd20160005,2,1000,30,2016-09-09,2016-10-08,2016-09-23 21:36:00,-15.0,28,3,0
5,xqd20160706,2,300,7,2016-09-09,2016-09-15,2016-09-09 13:45:00,-6.0,35,2,1
6,xqd20160007,2,1000,30,2016-09-09,2016-10-08,2016-10-07 23:07:00,-1.0,29,3,1
7,xqd20160008,2,1000,30,2016-09-09,2016-10-08,2016-10-05 20:33:00,-3.0,36,3,1
8,xqd20160909,2,1000,30,2016-09-09,2016-10-08,2016-10-08 16:00:00,0.0,28,3,1
9,xqd20160010,2,800,15,2016-09-10,2016-09-24,2016-09-24 13:00:00,0.0,26,3,1
10,xqd20160011,2,300,7,2016-09-10,2016-09-16,2016-09-11 19:11:00,-5.0,29,3,1
11,xqd20160012,2,1000,15,2016-09-10,2016-10-09,2016-10-09 16:00:00,0.0,39,1,1
12,xqd20160013,2,1000,30,2016-09-10,2016-10-09,2016-10-07 23:32:00,-2.0,26,3,1
13,xqd20160014,2,900,7,2016-09-10,2016-09-16,2016-09-13 21:57:00,-3.0,26,3,0
14,xqd20160015,2,1000,7,2016-09-10,2016-09-16,2016-09-15 14:27:00,-1.0,27,1,1
15,xqd20160016,2,800,15,2016-09-10,2016-09-24,2016-09-24 16:00:00,0.0,26,3,1
16,xqd20160017,2,1000,30,2016-09-10,2016-10-09,2016-09-27 14:21:00,-12.0,40,1,1
17,xqd20160018,2,1000,15,2016-09-10,2016-09-24,2016-09-23 18:49:00,-1.0,32,1,1
18,xqd20160019,2,1000,30,2016-09-10,2016-10-09,2016-10-05 22:05:00,-4.0,32,1,1
19,xqd20160020,2,800,30,2016-09-10,2016-10-09,2016-09-23 07:42:00,-16.0,26,3,1
20,xqd20160021,2,1000,30,2016-09-10,2016-10-09,2016-10-09 09:00:00,0.0,26,3,1
21,xqd20160022,2,1000,30,2016-09-10,2016-10-09,2016-10-08 17:09:00,-1.0,43,1,0
22,xqd20160023,2,1000,30,2016-09-10,2016-10-09,2016-10-09 23:00:00,0.0,25,1,1
23,xqd20160024,2,1000,15,2016-09-10,2016-09-24,2016-09-24 13:00:00,0.0,26,3,1
24,xqd20160025,2,1000,30,2016-09-10,2016-10-09,2016-10-03 12:50:00,-6.0,26,3,1
25,xqd20160026,2,1000,30,2016-09-10,2016-10-09,2016-09-29 12:18:00,-10.0,29,1,1
26,xqd20160027,2,800,15,2016-09-10,2016-09-24,2016-09-21 20:16:00,-3.0,39,0,1
27,xqd20170088,2,1000,15,2016-09-10,2016-09-24,2016-09-23 08:21:00,-1.0,34,0,1
28,xqd20160029,2,1000,30,2016-09-11,2016-10-10,2016-09-22 19:17:00,-18.0,31,3,1
29,xqd20160030,2,1000,30,2016-09-11,2016-10-10,2016-10-09 17:33:00,-1.0,33,3,1
...,...,...,...,...,...,...,...,...,...,...,...
370,xqd20160371,0,800,15,2016-09-11,2016-09-25,NaT,74.0,36,1,1
371,xqd20160372,0,1000,30,2016-09-11,2016-10-10,NaT,59.0,18,3,1
372,xqd20160373,0,800,15,2016-09-11,2016-09-25,NaT,74.0,25,1,1
373,xqd20160374,0,1000,15,2016-09-11,2016-09-25,NaT,74.0,40,1,1
374,xqd20182575,0,1000,30,2016-09-11,2016-10-10,NaT,59.0,29,3,1
375,xqd20160376,0,800,15,2016-09-11,2016-09-25,NaT,74.0,26,1,0
376,xqd20151038,0,1000,15,2016-09-11,2016-09-25,NaT,74.0,30,3,1
377,xqd20160378,0,1000,30,2016-09-11,2016-10-10,NaT,59.0,33,3,1
378,xqd20197340,0,1000,30,2016-09-11,2016-10-10,NaT,59.0,30,3,1
379,xqd20160380,0,1000,30,2016-09-11,2016-10-10,NaT,59.0,32,3,1
380,xqd20160381,0,1000,30,2016-09-11,2016-10-10,NaT,59.0,25,1,1
381,xqd20160382,0,800,15,2016-09-11,2016-09-25,NaT,74.0,35,1,1
382,xqd20175721,0,1000,15,2016-09-11,2016-09-25,NaT,74.0,30,0,1
383,xqd20160384,0,1000,30,2016-09-11,2016-10-10,NaT,59.0,26,1,1
384,xqd20160385,0,1000,30,2016-09-11,2016-10-10,NaT,59.0,29,1,1
385,xqd20160386,0,1000,30,2016-09-11,2016-11-09,NaT,29.0,26,1,1
386,xqd20160387,0,800,15,2016-09-11,2016-09-25,NaT,74.0,46,1,1
387,xqd20160388,0,1000,30,2016-09-11,2016-10-10,NaT,59.0,36,1,1
388,xqd20160389,0,1000,15,2016-09-11,2016-09-25,NaT,74.0,38,0,1
389,xqd20160390,0,1000,15,2016-09-11,2016-10-25,NaT,44.0,32,1,1
390,xqd20160391,0,1000,15,2016-09-11,2016-09-25,NaT,74.0,30,3,1
391,xqd20125284,0,800,15,2016-09-11,2016-09-25,NaT,74.0,35,1,1
392,xqd20160393,0,1000,30,2016-09-11,2016-10-10,NaT,59.0,29,3,0
393,xqd20160394,0,1000,30,2016-09-11,2016-11-09,NaT,29.0,26,3,1
394,xqd20160395,0,800,15,2016-09-11,2016-09-25,NaT,74.0,32,1,1
395,xqd20160396,0,1000,30,2016-09-11,2016-10-10,NaT,59.0,25,1,1
396,xqd20160397,0,1000,30,2016-09-12,2016-10-11,NaT,58.0,33,1,1
397,xqd20160398,0,800,15,2016-09-12,2016-09-26,NaT,73.0,39,3,1
398,xqd20160399,0,1000,30,2016-09-12,2016-11-10,NaT,28.0,28,3,1
399,xqd20160400,0,1000,30,2016-09-12,2016-10-11,NaT,58.0,26,3,1

In [1110]:
data2=data
data2.drop('Loan_ID', axis=1, inplace=True)
data3= copy.deepcopy(data2)
label_loan_status = data2.pop('loan_status')
label_past_due_days = data2.pop('past_due_days')

In [1111]:
data2.drop('effective_date', axis=1, inplace=True)
data2.drop('due_date', axis=1, inplace=True)
data2.drop('paid_off_time', axis=1, inplace=True)

In [1112]:
data2.head(5)

   Principal  terms  age  education  Gender
0       1000     30   45          1       1
1       1000     30   50          0       0
2       1000     30   33          0       0
3       1000     15   27          3       1
4       1000     30   28          3       0

In [1113]:
from sklearn.model_selection import train_test_split
data_train, data_test, label_train, label_test = train_test_split(data2, label_loan_status, test_size = 0.5, random_state = 42)

In [1114]:
from sklearn.linear_model import LogisticRegression
logis = LogisticRegression()
logis.fit(data_train, label_train)
logis_score_train = logis.score(data_train, label_train)
print("Training score: ",logis_score_train)
logis_score_test = logis.score(data_test, label_test)
print("Testing score: ",logis_score_test)

Training score:  0.596
Testing score:  0.604

In [1115]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier() 
clf = AdaBoostClassifier(n_estimators=500, base_estimator=dt,learning_rate=1)
clf.fit(data_train,label_train)
logis_score_train = clf.score(data_train, label_train)
print("Training score: ",logis_score_train)
logis_score_test = clf.score(data_test, label_test)
print("Testing score: ",logis_score_test)

Training score:  0.812
Testing score:  0.412

In [1116]:
from sklearn.ensemble import GradientBoostingRegressor
clf = GradientBoostingClassifier(n_estimators=500, learning_rate=1.0, max_depth=1)
clf.fit(data_train,label_train)
logis_score_train = clf.score(data_train, label_train)
print("Training score: ",logis_score_train)
logis_score_test = clf.score(data_test, label_test)
print("Testing score: ",logis_score_test)

Training score:  0.62
Testing score:  0.56

In [1117]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
# X, y = make_classification(n_samples=500, n_features=4,n_informative=2, n_redundant=0,random_state=0, shuffle=False)
clf = RandomForestClassifier(max_depth=2, random_state=0)
clf.fit(data_train, label_train)
logis_score_train = clf.score(data_train, label_train)
print("Training score: ",logis_score_train)
logis_score_test = clf.score(data_test, label_test)
print("Testing score: ",logis_score_test)

Training score:  0.596
Testing score:  0.604

In [1118]:
data3.drop('effective_date', axis=1, inplace=True)
data3.drop('due_date', axis=1, inplace=True)
data3.drop('paid_off_time', axis=1, inplace=True)
print(data3.head(300))

     loan_status  Principal  terms  past_due_days  age  education  Gender
0              2       1000     30          -23.0   45          1       1
1              2       1000     30            0.0   50          0       0
2              2       1000     30          -12.0   33          0       0
3              2       1000     15            0.0   27          3       1
4              2       1000     30          -15.0   28          3       0
5              2        300      7           -6.0   35          2       1
6              2       1000     30           -1.0   29          3       1
7              2       1000     30           -3.0   36          3       1
8              2       1000     30            0.0   28          3       1
9              2        800     15            0.0   26          3       1
10             2        300      7           -5.0   29          3       1
11             2       1000     15            0.0   39          1       1
12             2       1000     30           -2.0   26          3       1
13             2        900      7           -3.0   26          3       0
14             2       1000      7           -1.0   27          1       1
15             2        800     15            0.0   26          3       1
16             2       1000     30          -12.0   40          1       1
17             2       1000     15           -1.0   32          1       1
18             2       1000     30           -4.0   32          1       1
19             2        800     30          -16.0   26          3       1
20             2       1000     30            0.0   26          3       1
21             2       1000     30           -1.0   43          1       0
22             2       1000     30            0.0   25          1       1
23             2       1000     15            0.0   26          3       1
24             2       1000     30           -6.0   26          3       1
25             2       1000     30          -10.0   29          1       1
26             2        800     15           -3.0   39          0       1
27             2       1000     15           -1.0   34          0       1
28             2       1000     30          -18.0   31          3       1
29             2       1000     30           -1.0   33          3       1
..           ...        ...    ...            ...  ...        ...     ...
270            2       1000     30            1.0   29          1       1
271            2       1000     30           -5.0   32          3       0
272            2       1000     30            0.0   28          3       1
273            2       1000     30            0.0   35          1       1
274            2       1000     30            0.0   30          0       1
275            2        800     15           -1.0   44          3       1
276            2        800     15            0.0   37          1       1
277            2       1000     30            0.0   31          3       1
278            2        800     15          -13.0   36          3       1
279            2        800     30           -3.0   31          3       1
280            2        800     15           -1.0   42          1       1
281            2       1000     15            0.0   28          0       1
282            2       1000     30           -7.0   30          3       1
283            2       1000     30           -1.0   30          1       1
284            2       1000     15           -1.0   24          0       1
285            2       1000     30            0.0   34          0       1
286            2       1000     30           -1.0   29          3       1
287            2       1000     30           -1.0   38          1       0
288            2       1000     30            0.0   34          0       1
289            2        800     15           -1.0   28          1       1
290            2       1000     15           -6.0   30          3       0
291            2       1000     30           -2.0   41          1       1
292            2       1000     30          -25.0   29          3       1
293            2       1000     30            0.0   37          1       1
294            2       1000     30            0.0   36          0       1
295            2       1000     30            0.0   30          3       0
296            2        800     15           -7.0   27          3       1
297            2       1000     30            0.0   29          1       1
298            2       1000     30            0.0   40          1       1
299            2       1000     30            0.0   28          3       1

[300 rows x 7 columns]

In [1119]:
from sklearn.model_selection import train_test_split
data_train, data_test, label_train, label_test = train_test_split(data3, label_past_due_days, test_size = 0.2, random_state = 42)

In [1120]:
from sklearn.linear_model import LinearRegression
logis = LinearRegression()
print(data_train.head(400))
logis.fit(data_train, label_train)
logis_score_train = logis.score(data_train, label_train)
print("Training score: ",logis_score_train)
logis_score_test = logis.score(data_test, label_test)
print("Testing score: ",logis_score_test)

     loan_status  Principal  terms  past_due_days  age  education  Gender
249            2       1000     15           -1.0   35          0       0
433            1       1000     30            2.0   29          3       1
19             2        800     30          -16.0   26          3       1
322            0       1000     30           60.0   37          3       1
332            0       1000     30           59.0   21          1       1
56             2       1000     30            0.0   27          1       1
301            0       1000     30           61.0   37          1       1
229            2        800     15            0.0   26          3       1
331            0        800     15           74.0   27          3       1
132            2       1000     30            0.0   26          1       1
137            2       1000     15            0.0   22          3       1
423            1       1000     15            2.0   24          3       1
335            0       1000     30           59.0   34          1       1
25             2       1000     30          -10.0   29          1       1
464            1       1000     30            1.0   42          1       0
281            2       1000     15            0.0   28          0       1
247            2        800     15           -1.0   34          1       1
237            2        800     15           -2.0   36          1       1
117            2       1000     30           -4.0   23          1       1
42             2       1000      7            0.0   31          0       1
220            2       1000     15            0.0   35          3       1
176            2       1000     30            0.0   38          1       1
320            0       1000     30           60.0   25          3       1
153            2       1000     15            0.0   30          3       1
231            2       1000      7            0.0   34          3       0
227            2        800     15           -1.0   37          0       1
417            1        800     15            3.0   25          1       1
203            2        800     15            0.0   27          3       1
126            2       1000     15            0.0   28          1       1
329            0       1000     30           59.0   44          0       1
..           ...        ...    ...            ...  ...        ...     ...
276            2        800     15            0.0   37          1       1
443            1       1000     30           28.0   26          3       0
191            2       1000     30            0.0   30          1       1
385            0       1000     30           29.0   26          1       1
293            2       1000     30            0.0   37          1       1
413            1       1000     15            1.0   38          3       1
343            0       1000     30           59.0   23          1       1
257            2       1000     15            0.0   37          3       0
308            0       1000     30           60.0   33          3       1
149            2        800     15           -2.0   35          0       1
130            2       1000     15           -3.0   26          1       1
151            2        800     15           -3.0   23          3       1
359            0       1000     30           59.0   28          1       1
99             2       1000     30           -2.0   31          0       0
372            0        800     15           74.0   25          1       1
87             2       1000     30          -23.0   27          3       0
458            1       1000     30            2.0   34          3       1
330            0       1000     15           44.0   31          3       1
214            2       1000     30          -25.0   35          1       1
466            1       1000     30            4.0   26          1       1
121            2       1000     30          -13.0   22          1       1
499            1       1000     30            8.0   28          1       1
20             2       1000     30            0.0   26          3       1
188            2        800     15           -7.0   28          3       1
71             2        800     15           -1.0   29          1       1
106            2       1000     30           -2.0   31          1       1
270            2       1000     30            1.0   29          1       1
348            0       1000     30           59.0   32          1       1
435            1       1000     30            1.0   29          0       1
102            2       1000     30            0.0   30          3       1

[400 rows x 7 columns]

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').