In [71]:
import numpy as np
import pandas as pd 
import matplotlib as mpl
import matplotlib.pyplot as plt
import datetime as dt

In [72]:
data=pd.read_csv("./Loan payments data.csv")

In [73]:
data.head(5)

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender
0,xqd20166231,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/14/2016 19:31,NaN,45,High School or Below,male
1,xqd20168902,PAIDOFF,1000,30,9/8/2016,10/7/2016,10/7/2016 9:00,NaN,50,Bechalor,female
2,xqd20160003,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/25/2016 16:58,NaN,33,Bechalor,female
3,xqd20160004,PAIDOFF,1000,15,9/8/2016,9/22/2016,9/22/2016 20:00,NaN,27,college,male
4,xqd20160005,PAIDOFF,1000,30,9/9/2016,10/8/2016,9/23/2016 21:36,NaN,28,college,female

In [74]:
data['Principal'].unique()

array([1000,  300,  800,  900,  700,  500])

In [75]:
data['loan_status'].unique()

array(['PAIDOFF', 'COLLECTION', 'COLLECTION_PAIDOFF'], dtype=object)

In [76]:
data['education'].unique()

array(['High School or Below', 'Bechalor', 'college', 'Master or Above'],
      dtype=object)

In [77]:
data_original=data.copy()

In [78]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
data['loan_status']=le.fit_transform(data['loan_status'])
data['Gender']=le.fit_transform(data['Gender'])
data['education']=le.fit_transform(data['education'])
data['past_due_days']=data['past_due_days'].fillna(0)
data['due_date'] = pd.to_datetime((data['due_date']),format="%m/%d/%Y")
data['effective_date'] = pd.to_datetime((data['effective_date']),format="%m/%d/%Y")
data['paid_off_time'] = pd.to_datetime((data['paid_off_time']),format="%m/%d/%Y %H:%M")
#if statement here
#data['past_due_days'] = (data['paid_off_time'].sub(data['due_date'], axis=0)).dt.days
data[data['loan_status'] == 2]['past_due_days'] = (data[data['loan_status'] == 2]['paid_off_time'].sub(data[data['loan_status'] == 2]['due_date'], axis=0)).dt.days
#print(data['loan_status'])

/home/suhas/.virtualenvs/innovate/lib/python3.5/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

In [79]:
data.head(400)

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender
0,xqd20166231,2,1000,30,2016-09-08,2016-10-07,2016-09-14 19:31:00,0.0,45,1,1
1,xqd20168902,2,1000,30,2016-09-08,2016-10-07,2016-10-07 09:00:00,0.0,50,0,0
2,xqd20160003,2,1000,30,2016-09-08,2016-10-07,2016-09-25 16:58:00,0.0,33,0,0
3,xqd20160004,2,1000,15,2016-09-08,2016-09-22,2016-09-22 20:00:00,0.0,27,3,1
4,xqd20160005,2,1000,30,2016-09-09,2016-10-08,2016-09-23 21:36:00,0.0,28,3,0
5,xqd20160706,2,300,7,2016-09-09,2016-09-15,2016-09-09 13:45:00,0.0,35,2,1
6,xqd20160007,2,1000,30,2016-09-09,2016-10-08,2016-10-07 23:07:00,0.0,29,3,1
7,xqd20160008,2,1000,30,2016-09-09,2016-10-08,2016-10-05 20:33:00,0.0,36,3,1
8,xqd20160909,2,1000,30,2016-09-09,2016-10-08,2016-10-08 16:00:00,0.0,28,3,1
9,xqd20160010,2,800,15,2016-09-10,2016-09-24,2016-09-24 13:00:00,0.0,26,3,1
10,xqd20160011,2,300,7,2016-09-10,2016-09-16,2016-09-11 19:11:00,0.0,29,3,1
11,xqd20160012,2,1000,15,2016-09-10,2016-10-09,2016-10-09 16:00:00,0.0,39,1,1
12,xqd20160013,2,1000,30,2016-09-10,2016-10-09,2016-10-07 23:32:00,0.0,26,3,1
13,xqd20160014,2,900,7,2016-09-10,2016-09-16,2016-09-13 21:57:00,0.0,26,3,0
14,xqd20160015,2,1000,7,2016-09-10,2016-09-16,2016-09-15 14:27:00,0.0,27,1,1
15,xqd20160016,2,800,15,2016-09-10,2016-09-24,2016-09-24 16:00:00,0.0,26,3,1
16,xqd20160017,2,1000,30,2016-09-10,2016-10-09,2016-09-27 14:21:00,0.0,40,1,1
17,xqd20160018,2,1000,15,2016-09-10,2016-09-24,2016-09-23 18:49:00,0.0,32,1,1
18,xqd20160019,2,1000,30,2016-09-10,2016-10-09,2016-10-05 22:05:00,0.0,32,1,1
19,xqd20160020,2,800,30,2016-09-10,2016-10-09,2016-09-23 07:42:00,0.0,26,3,1
20,xqd20160021,2,1000,30,2016-09-10,2016-10-09,2016-10-09 09:00:00,0.0,26,3,1
21,xqd20160022,2,1000,30,2016-09-10,2016-10-09,2016-10-08 17:09:00,0.0,43,1,0
22,xqd20160023,2,1000,30,2016-09-10,2016-10-09,2016-10-09 23:00:00,0.0,25,1,1
23,xqd20160024,2,1000,15,2016-09-10,2016-09-24,2016-09-24 13:00:00,0.0,26,3,1
24,xqd20160025,2,1000,30,2016-09-10,2016-10-09,2016-10-03 12:50:00,0.0,26,3,1
25,xqd20160026,2,1000,30,2016-09-10,2016-10-09,2016-09-29 12:18:00,0.0,29,1,1
26,xqd20160027,2,800,15,2016-09-10,2016-09-24,2016-09-21 20:16:00,0.0,39,0,1
27,xqd20170088,2,1000,15,2016-09-10,2016-09-24,2016-09-23 08:21:00,0.0,34,0,1
28,xqd20160029,2,1000,30,2016-09-11,2016-10-10,2016-09-22 19:17:00,0.0,31,3,1
29,xqd20160030,2,1000,30,2016-09-11,2016-10-10,2016-10-09 17:33:00,0.0,33,3,1
...,...,...,...,...,...,...,...,...,...,...,...
370,xqd20160371,0,800,15,2016-09-11,2016-09-25,NaT,74.0,36,1,1
371,xqd20160372,0,1000,30,2016-09-11,2016-10-10,NaT,59.0,18,3,1
372,xqd20160373,0,800,15,2016-09-11,2016-09-25,NaT,74.0,25,1,1
373,xqd20160374,0,1000,15,2016-09-11,2016-09-25,NaT,74.0,40,1,1
374,xqd20182575,0,1000,30,2016-09-11,2016-10-10,NaT,59.0,29,3,1
375,xqd20160376,0,800,15,2016-09-11,2016-09-25,NaT,74.0,26,1,0
376,xqd20151038,0,1000,15,2016-09-11,2016-09-25,NaT,74.0,30,3,1
377,xqd20160378,0,1000,30,2016-09-11,2016-10-10,NaT,59.0,33,3,1
378,xqd20197340,0,1000,30,2016-09-11,2016-10-10,NaT,59.0,30,3,1
379,xqd20160380,0,1000,30,2016-09-11,2016-10-10,NaT,59.0,32,3,1
380,xqd20160381,0,1000,30,2016-09-11,2016-10-10,NaT,59.0,25,1,1
381,xqd20160382,0,800,15,2016-09-11,2016-09-25,NaT,74.0,35,1,1
382,xqd20175721,0,1000,15,2016-09-11,2016-09-25,NaT,74.0,30,0,1
383,xqd20160384,0,1000,30,2016-09-11,2016-10-10,NaT,59.0,26,1,1
384,xqd20160385,0,1000,30,2016-09-11,2016-10-10,NaT,59.0,29,1,1
385,xqd20160386,0,1000,30,2016-09-11,2016-11-09,NaT,29.0,26,1,1
386,xqd20160387,0,800,15,2016-09-11,2016-09-25,NaT,74.0,46,1,1
387,xqd20160388,0,1000,30,2016-09-11,2016-10-10,NaT,59.0,36,1,1
388,xqd20160389,0,1000,15,2016-09-11,2016-09-25,NaT,74.0,38,0,1
389,xqd20160390,0,1000,15,2016-09-11,2016-10-25,NaT,44.0,32,1,1
390,xqd20160391,0,1000,15,2016-09-11,2016-09-25,NaT,74.0,30,3,1
391,xqd20125284,0,800,15,2016-09-11,2016-09-25,NaT,74.0,35,1,1
392,xqd20160393,0,1000,30,2016-09-11,2016-10-10,NaT,59.0,29,3,0
393,xqd20160394,0,1000,30,2016-09-11,2016-11-09,NaT,29.0,26,3,1
394,xqd20160395,0,800,15,2016-09-11,2016-09-25,NaT,74.0,32,1,1
395,xqd20160396,0,1000,30,2016-09-11,2016-10-10,NaT,59.0,25,1,1
396,xqd20160397,0,1000,30,2016-09-12,2016-10-11,NaT,58.0,33,1,1
397,xqd20160398,0,800,15,2016-09-12,2016-09-26,NaT,73.0,39,3,1
398,xqd20160399,0,1000,30,2016-09-12,2016-11-10,NaT,28.0,28,3,1
399,xqd20160400,0,1000,30,2016-09-12,2016-10-11,NaT,58.0,26,3,1

In [80]:
data2=data
data2.drop('Loan_ID', axis=1, inplace=True)
label = data2.pop('loan_status')

In [81]:
data2.drop('effective_date', axis=1, inplace=True)
data2.drop('due_date', axis=1, inplace=True)
data2.drop('paid_off_time', axis=1, inplace=True)

In [82]:
data2.head(5)

   Principal  terms  past_due_days  age  education  Gender
0       1000     30            0.0   45          1       1
1       1000     30            0.0   50          0       0
2       1000     30            0.0   33          0       0
3       1000     15            0.0   27          3       1
4       1000     30            0.0   28          3       0

In [83]:
from sklearn.model_selection import train_test_split
data_train, data_test, label_train, label_test = train_test_split(data2, label, test_size = 0.2, random_state = 42)

In [84]:
from sklearn.linear_model import LogisticRegression
logis = LogisticRegression()
logis.fit(data_train, label_train)
logis_score_train = logis.score(data_train, label_train)
print("Training score: ",logis_score_train)
logis_score_test = logis.score(data_test, label_test)
print("Testing score: ",logis_score_test)

Training score:  0.9575
Testing score:  0.94

In [100]:
def predict(principal,term,past_due_days,age,education,gender,data_original):
    new_data = {}
    
    le_gender = le.fit(data_original['Gender'].unique())
    new_data['Gender'] = le_gender.transform([gender])
    le_education = le.fit(data_original['education'].unique())
    new_data['education'] = le_education.transform([education])
    le_past_due_days = le.fit(data['past_due_days'])
    #new_data['past_due_days'] = le_past_due_days.transform([past_due_days])
    le_loan_status = le.fit(data_original['loan_status'].unique())

    y = logis.predict([[principal,term,past_due_days,age,new_data['education'],new_data['Gender']]])
    return le_loan_status.inverse_transform(y)

print(predict(1000,30,50,26,'college','female',data_original))

['COLLECTION']

/home/suhas/.virtualenvs/innovate/lib/python3.5/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff: