In [155]:
import numpy as np
import pandas as pd 
import datetime as dt
import copy

In [156]:
data=pd.read_csv("./Loan payments data.csv")

In [157]:
data.head(5)

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender
0,xqd20166231,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/14/2016 19:31,-23.0,45,High School or Below,male
1,xqd20168902,PAIDOFF,1000,30,9/8/2016,10/7/2016,10/7/2016 9:00,0.0,50,Bechalor,female
2,xqd20160003,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/25/2016 16:58,-12.0,33,Bechalor,female
3,xqd20160004,PAIDOFF,1000,15,9/8/2016,9/22/2016,9/22/2016 20:00,0.0,27,college,male
4,xqd20160005,PAIDOFF,1000,30,9/9/2016,10/8/2016,9/23/2016 21:36,-15.0,28,college,female

In [158]:
data['Principal'].unique()

array([1000,  300,  800,  900,  700,  500], dtype=int64)

In [159]:
data['loan_status'].unique()

array(['PAIDOFF', 'COLLECTION', 'COLLECTION_PAIDOFF'], dtype=object)

In [160]:
data['education'].unique()

array(['High School or Below', 'Bechalor', 'college', 'Master or Above'],
      dtype=object)

In [161]:
data_original=data.copy()
data.head(5)

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender
0,xqd20166231,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/14/2016 19:31,-23.0,45,High School or Below,male
1,xqd20168902,PAIDOFF,1000,30,9/8/2016,10/7/2016,10/7/2016 9:00,0.0,50,Bechalor,female
2,xqd20160003,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/25/2016 16:58,-12.0,33,Bechalor,female
3,xqd20160004,PAIDOFF,1000,15,9/8/2016,9/22/2016,9/22/2016 20:00,0.0,27,college,male
4,xqd20160005,PAIDOFF,1000,30,9/9/2016,10/8/2016,9/23/2016 21:36,-15.0,28,college,female

In [162]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
data['loan_status']=le.fit_transform(data['loan_status'])
data['Gender']=le.fit_transform(data['Gender'])
data['education']=le.fit_transform(data['education'])
data['due_date'] = pd.to_datetime((data['due_date']),format="%m/%d/%Y")
data['effective_date'] = pd.to_datetime((data['effective_date']),format="%m/%d/%Y")
data['paid_off_time'] = pd.to_datetime((data['paid_off_time']),format="%m/%d/%Y %H:%M")
#if statement here
#data[data['loan_status'] == 2]['past_due_days'] = (data[data['loan_status'] == 2]['paid_off_time'].sub(data[data['loan_status'] == 2]['due_date'], axis=0)).dt.days
#print(data['loan_status'])
#print(data['past_due_days'][0])

In [163]:
data.head(5)

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender
0,xqd20166231,2,1000,30,2016-09-08,2016-10-07,2016-09-14 19:31:00,-23.0,45,1,1
1,xqd20168902,2,1000,30,2016-09-08,2016-10-07,2016-10-07 09:00:00,0.0,50,0,0
2,xqd20160003,2,1000,30,2016-09-08,2016-10-07,2016-09-25 16:58:00,-12.0,33,0,0
3,xqd20160004,2,1000,15,2016-09-08,2016-09-22,2016-09-22 20:00:00,0.0,27,3,1
4,xqd20160005,2,1000,30,2016-09-09,2016-10-08,2016-09-23 21:36:00,-15.0,28,3,0

In [164]:
data2=data
data2.drop('Loan_ID', axis=1, inplace=True)
data3= copy.deepcopy(data2)
label_loan_status = data2.pop('loan_status')
label_past_due_days = data2.pop('past_due_days')

In [165]:
data2.drop('effective_date', axis=1, inplace=True)
data2.drop('due_date', axis=1, inplace=True)
data2.drop('paid_off_time', axis=1, inplace=True)

In [166]:
data2.head(5)

   Principal  terms  age  education  Gender
0       1000     30   45          1       1
1       1000     30   50          0       0
2       1000     30   33          0       0
3       1000     15   27          3       1
4       1000     30   28          3       0

In [167]:
from sklearn.model_selection import train_test_split
data_train, data_test, label_train, label_test = train_test_split(data2, label_loan_status, test_size = 0.2, random_state = 16)

In [168]:
from sklearn.linear_model import LogisticRegression
logis = LogisticRegression()
logis.fit(data_train, label_train)
logis_score_train = logis.score(data_train, label_train)
print("Training score: ",logis_score_train)
logis_score_test = logis.score(data_test, label_test)
print("Testing score: ",logis_score_test)

Training score:  0.605
Testing score:  0.58

In [169]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier() 
clf = AdaBoostClassifier(n_estimators=500, base_estimator=dt,learning_rate=1)
clf.fit(data_train,label_train)
logis_score_train = clf.score(data_train, label_train)
print("Training score: ",logis_score_train)
logis_score_test = clf.score(data_test, label_test)
print("Testing score: ",logis_score_test)

Training score:  0.7425
Testing score:  0.38

In [170]:
from sklearn.ensemble import GradientBoostingClassifier
clf = GradientBoostingClassifier(n_estimators=500, learning_rate=1.0, max_depth=1)
clf.fit(data_train,label_train)
logis_score_train = clf.score(data_train, label_train)
print("Training score: ",logis_score_train)
logis_score_test = clf.score(data_test, label_test)
print("Testing score: ",logis_score_test)

Training score:  0.63
Testing score:  0.54

In [171]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
# X, y = make_classification(n_samples=500, n_features=4,n_informative=2, n_redundant=0,random_state=0, shuffle=False)
clf = RandomForestClassifier(max_depth=2, random_state=0)
clf.fit(data_train, label_train)
logis_score_train = clf.score(data_train, label_train)
print("Training score: ",logis_score_train)
logis_score_test = clf.score(data_test, label_test)
print("Testing score: ",logis_score_test)

Training score:  0.605
Testing score:  0.58

In [172]:
def predict(principal,term,past_due_days,age,education,gender,data_original):
    new_data = {}
    from sklearn import preprocessing
    le=preprocessing.LabelEncoder()
    le_gender = le.fit(data_original['Gender'].unique())
    new_data['Gender'] = le_gender.transform([gender])
    le_education = le.fit(data_original['education'].unique())
    new_data['education'] = le_education.transform([education])
    le_loan_status = le.fit(data_original['loan_status'].unique())

    y = clf.predict([[principal,term,age,new_data['education'],new_data['Gender']]])
    print(y)
    return le_loan_status.inverse_transform(y)

print(predict(1000,30,50,26,'college','female',data_original))

[2]
['PAIDOFF']

c:\users\hvpri\appdata\local\programs\python\python36-32\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [173]:
data3.drop('effective_date', axis=1, inplace=True)
data3.drop('due_date', axis=1, inplace=True)
data3.drop('paid_off_time', axis=1, inplace=True)
print(data3.head(300))

     loan_status  Principal  terms  past_due_days  age  education  Gender
0              2       1000     30          -23.0   45          1       1
1              2       1000     30            0.0   50          0       0
2              2       1000     30          -12.0   33          0       0
3              2       1000     15            0.0   27          3       1
4              2       1000     30          -15.0   28          3       0
5              2        300      7           -6.0   35          2       1
6              2       1000     30           -1.0   29          3       1
7              2       1000     30           -3.0   36          3       1
8              2       1000     30            0.0   28          3       1
9              2        800     15            0.0   26          3       1
10             2        300      7           -5.0   29          3       1
11             2       1000     15            0.0   39          1       1
12             2       1000     30           -2.0   26          3       1
13             2        900      7           -3.0   26          3       0
14             2       1000      7           -1.0   27          1       1
15             2        800     15            0.0   26          3       1
16             2       1000     30          -12.0   40          1       1
17             2       1000     15           -1.0   32          1       1
18             2       1000     30           -4.0   32          1       1
19             2        800     30          -16.0   26          3       1
20             2       1000     30            0.0   26          3       1
21             2       1000     30           -1.0   43          1       0
22             2       1000     30            0.0   25          1       1
23             2       1000     15            0.0   26          3       1
24             2       1000     30           -6.0   26          3       1
25             2       1000     30          -10.0   29          1       1
26             2        800     15           -3.0   39          0       1
27             2       1000     15           -1.0   34          0       1
28             2       1000     30          -18.0   31          3       1
29             2       1000     30           -1.0   33          3       1
..           ...        ...    ...            ...  ...        ...     ...
270            2       1000     30            1.0   29          1       1
271            2       1000     30           -5.0   32          3       0
272            2       1000     30            0.0   28          3       1
273            2       1000     30            0.0   35          1       1
274            2       1000     30            0.0   30          0       1
275            2        800     15           -1.0   44          3       1
276            2        800     15            0.0   37          1       1
277            2       1000     30            0.0   31          3       1
278            2        800     15          -13.0   36          3       1
279            2        800     30           -3.0   31          3       1
280            2        800     15           -1.0   42          1       1
281            2       1000     15            0.0   28          0       1
282            2       1000     30           -7.0   30          3       1
283            2       1000     30           -1.0   30          1       1
284            2       1000     15           -1.0   24          0       1
285            2       1000     30            0.0   34          0       1
286            2       1000     30           -1.0   29          3       1
287            2       1000     30           -1.0   38          1       0
288            2       1000     30            0.0   34          0       1
289            2        800     15           -1.0   28          1       1
290            2       1000     15           -6.0   30          3       0
291            2       1000     30           -2.0   41          1       1
292            2       1000     30          -25.0   29          3       1
293            2       1000     30            0.0   37          1       1
294            2       1000     30            0.0   36          0       1
295            2       1000     30            0.0   30          3       0
296            2        800     15           -7.0   27          3       1
297            2       1000     30            0.0   29          1       1
298            2       1000     30            0.0   40          1       1
299            2       1000     30            0.0   28          3       1

[300 rows x 7 columns]

In [174]:
from sklearn.model_selection import train_test_split
data_train, data_test, label_train, label_test = train_test_split(data3, label_past_due_days, test_size = 0.2, random_state = 42)

In [175]:
# from sklearn.linear_model import LinearRegression
# logis = LinearRegression()
# print(data_train.head(400))
# logis.fit(data_train, label_train)
# logis_score_train = logis.score(data_train, label_train)
# print("Training score: ",logis_score_train)
# logis_score_test = logis.score(data_test, label_test)
# print("Testing score: ",logis_score_test)